.header_container {
  margin: 10px 5px 5px 5px;
  padding: 15px 15px 5px 15px;
  animation: 2s anim-lineUp ease-out;
  text-align: left;
}

.company_title {
  font-size: 2.7vh;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-shadow: 3px 3px 4px var(--color-primary);
}

.toggle_position {
  display: inline-block;
}

.subtitle {
  font-size: 1.5vh;
  letter-spacing: 5px;
  padding-left: 6px;
  margin: 5% 0% 5% 0%;
  @apply font-robotoMono;
}

@media (min-width: 800px) {
  .title_containers {
    margin: 2% 0 2% 0;
  }
  .company_title {
    font-size: 4vh;
  }
  .subtitle {
    margin: 0% 0% 1% 0%;
  }
}

@media (min-width: 990px) {
  .company_title {
    font-size: 5vh;
  }
}

@media (min-width: 1200px) {
  .company_title {
    font-size: 5vh;
  }
  .subtitle {
    font-size: 1.5vh;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
