.header_container {
  margin: 10px 5px 5px 5px;
  padding: 15px 15px 5px 15px;
  animation: 2s anim-lineUp ease-out;
  /* border: 2px solid red; */
  text-align: left;
  /* border-bottom: 1px solid var(--color-secondary); */
}

.company_title {
  font-size: 2.7vh;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-shadow: 3px 3px 4px var(--color-primary);
  /* border: 2px solid blue; */
}

.toggle_position {
  border: red 2px solid;
  display: inline-block;
}

/* .company_title:hover {
  color: #eaaae0;
  text-shadow: 0 0 5px var(--color-primary);
  animation-name: pulse;
  animation-duration: 2s;
  animation-fill-mode: both;
} */

.subtitle {
  font-size: 1.5vh;
  letter-spacing: 5px;
  padding-left: 6px;
  margin: 5% 0% 5% 0%;
  /* text-shadow: 2px 2px 3px var(--color-primary); */
  @apply font-robotoMono;
  /* border: 2px solid blue; */
}

@media (min-width: 800px) {
  .title_containers {
    margin: 2% 0 2% 0;
  }
  .company_title {
    font-size: 4vh;
  }
  .subtitle {
    /* font-size: 2vh; */
    margin: 0% 0% 1% 0%;
  }
}

@media (min-width: 990px) {
  .company_title {
    font-size: 5vh;
  }
  /* .subtitle {
    font-size: 3vh;
  } */
}

@media (min-width: 1200px) {
  .company_title {
    font-size: 5vh;
  }
  .subtitle {
    font-size: 1.5vh;
  }
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
