.navbar_container {
  margin: 25px 0px 10px 0px;
  text-align: center;
  font-size: 1.5vh;
  /* border: 2px solid red; */
  padding-left: 6px;
}

.navlinks_container {
  /* border: 2px solid blue; */
  text-align: left;
}

.navlinks_container li {
  display: inline-block;
  margin: 0 2% 0 0%;
  list-style: none;
  /* border: 2px solid red; */
}

/* unvisited link */
.navlinks_container li a:link {
  color: var(--color-font);
  text-shadow: 5px 5px 8px var(--color-primary);
}

/* visited link */
/* .navlinks_container li a:visited {
} */

/* mouse over link */
.navlinks_container li a:hover {
  color: rgba(110, 250, 255, 0.541);
  color: var(--color-contrast);
}


