.skills_icon {
    box-shadow: 3px 3px 10px 4px var(--color-primary-diff);
    border-radius: 10px 100px / 120px;
    /* border-radius: 30px; */
    border: solid white 1px;
    margin-top: 15px;
    /* font-size: 18px; */
    line-height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-animation: slideLeft 3s forwards;
    -webkit-animation-delay: 0s;
    animation: slideLeft 3s forwards;
    animation-delay: 0s;
    padding: 5px;
    text-align: center;
  }
  
  .line_height {
    letter-spacing: 5px;
    line-height: 150%;
  }
