.socials_container {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.left_link_container {
  border-radius: 100px 10px / 120px;
  padding: 5% 8% 5% 8%;
  margin: 0px 0px 45px 0px;
  width: 70%;
  border: rgba(255, 255, 255, 0.815) 1px solid;
  box-shadow: 3px 3px 10px 4px var(--color-primary-diff);
  text-align: left;
  display: inline-block;
  /* -webkit-animation: slideLeft 3s forwards;
  -webkit-animation-delay: 0s;
  animation: slideLeft 3s forwards;
  animation-delay: 0s; */
  text-shadow: 2px 2px 3px var(--color-secondary);
}

/* p css for link description, hidden on mobile because its responsive */
.left_link_container p {
  display: none;
}
.left_link_container h2 {
  font-size: 1.25em;
  text-shadow: 3px 3px 4px var(--color-secondary);
}
.left_link_container h2:hover {
  color: var(--color-secondary);
  /* animation-name: leftLinkPulse;
  animation-duration: 2s;
  animation-fill-mode: both; */
  font-style: italic;
}
.right_link_container {
  border-radius: 10px 100px / 120px;
  padding: 5% 8% 5% 8%;
  margin: 0px 0px 45px 0px;
  width: 70%;
  border: rgba(255, 255, 255, 0.815) 1px solid;
  box-shadow: 3px 3px 10px 4px var(--color-primary-diff);
  display: inline-block;
  text-align: right;
  /* -webkit-animation: slideRight 2.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slideRight 2.5s forwards;
  animation-delay: 0s; */
  text-shadow: 3px 3px 4px var(--color-secondary);
}

/* p css for link description, hidden on mobile because its responsive */
.right_link_container p {
  display: none;
}
.right_link_container h2 {
  font-size: 1.25em;
  text-shadow: 3px 3px 4px var(--color-secondary);
}
.right_link_container h2:hover {
  color: var(--color-secondary);
  /* animation-name: rightLinkPulse;
  animation-duration: 2s;
  animation-fill-mode: both; */
  font-style: italic;
}
@media (min-width: 990px) {
  .socials_container {
    margin-top: 15px;
  }
  .left_link_container {
    width: 60%;
    padding: 4% 7% 4% 7%;
  }
  .left_link_container h2 {
    font-size: 1.5em;
  }
  .right_link_container {
    width: 60%;
    padding: 4% 7% 4% 7%;
  }
  .right_link_container h2 {
    font-size: 1.5em;
  }
}

/* @keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes leftLinkPulse {
  0% {
    transform: translateX(0%);
  }
  50% {
    opacity: 1;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes rightLinkPulse {
  0% {
    transform: translateX(0%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
} */
